@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Inter:200,300,400,500,600,700&display=swap&subset=latin-ext');
@import "common";

body {
  font-family: 'Inter', sans-serif;
  color: $text-color;
}

.sign-up-root {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(45deg, #f6f6f6, #ffffff);
}

.back-to-paytrim {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  position: absolute;
  top: 40px;
  left: 40px;
  background: white;
  box-shadow: rgba(#000, 0.16) 0 2px 5px;
  border-radius: 6px;
  padding: 11px 16px;
}

.lang-selector {
  position: absolute;
  top: 40px;
  right: 40px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 5px;
  padding: 11px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
}

.messenger {
  @include size(40px);
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  background-image: url("./../../facebook-messenger-white.svg");
  background-origin: border-box;
  background-position: center;
  background-size: 100%;
  border: none;
  box-shadow: rgba(black, .12) 0 0 8px 0;
  outline: none;

  &:focus {
    outline: none;
  }
}

.sign-up-main {
  justify-self: center;
  align-self: center;
  margin: auto;
  width: 1007px;
  height: 640px;
  display: flex;
  border-radius: 16px;
  box-shadow: rgba(#000000, 0.16) 0 2px 6px;
  background: white;

  .form-wrapper {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;

    .form-wrapper-header {
      display: flex;
      height: 100px;
      align-items: flex-start;
    }

    .redirect-to-sign-in {
      line-height: 3;
      justify-self: flex-end;
      margin-left: auto;
      color: $brand;
    }
  }
}

@media screen and (max-width: 675px) {
  .sign-up-main {
    flex-direction: column;
    margin-top: 50px;

    .form-wrapper, .description {
      padding: 10px;
    }
  }


  .back-to-paytrim {
    left: 5px;
    top: 5px;
  }

  .lang-selector {
    top: 5px;
    right: 5px;
  }
}
